.nodebot {
  margin: 0;
  z-index: 2;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 500px;
  height: 500px;
  background-color: #f8e01e;
  position: relative;
}
.nodebot .icon {
  position: absolute;
  bottom: 8%;
  right: 8%;
  width: 45.6%;
  height: 50%;
}
.nodebot .icon * {
  background: #2e2e2c;
}
.nodebot .icon .bobble {
  width: 12.5%;
  height: 12%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 5% auto -3.8%;
}
.nodebot .antenna {
  width: 6%;
  margin: 0 auto 4%;
  height: 16.5%;
  border-bottom-left-radius: 80% 30%;
  border-bottom-right-radius: 80% 30%;
}
.nodebot .head {
  width: 100%;
  height: 48.5%;
  border-top-left-radius: 15% 25%;
  border-top-right-radius: 15% 25%;
  position: relative;
}
.nodebot .head .eye {
  width: 18%;
  height: 33.5%;
  margin: 0 18.2%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #f8e01e;
  display: inline-block;
  position: absolute;
  top: 26%;
  left: 0px;
  -webkit-animation: blink 5s 2s infinite;
  -webkit-animation: blink 5s 2s infinite;
  -moz-animation: blink 5s 2s infinite;
  -o-animation: blink 5s 2s infinite;
  -ms-animation: blink 5s 2s infinite;
  animation: blink 5s 2s infinite;
}
.nodebot .eye.right {
  left: auto;
  right: 0;
}
.nodebot .head .eye.blink {
  height: 6%;
  top: 36%;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #000;
}
.nodebot .neck {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 69%;
  height: 6%;
  margin: 3.6% auto 0;
}
.nodebot .neck:last-child {
  width: 48%;
}
@-webkit-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-moz-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-webkit-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-o-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background: #111;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
}
div#adventure-club {
  text-align: center;
  padding: 10px;
  color: #999;
  background: -webkit-linear-gradient(top, #000, #333);
  background: -moz-linear-gradient(top, #000, #333);
  background: -o-linear-gradient(top, #000, #333);
  background: -ms-linear-gradient(top, #000, #333);
  background: linear-gradient(to bottom, #000, #333);
  text-shadow: 0px 2px #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
h2,
h3 {
  font-size: 2em;
  padding-bottom: 20px;
}
p {
  line-height: 1.2em;
  margin-bottom: 10px;
}
footer {
  padding: 10px;
  text-align: center;
  line-height: 1.6em;
  color: #999;
  text-shadow: 0px 2px #000;
}
footer a {
  text-decoration: none;
  color: #ccc;
}
footer a:hover {
  color: #f7df1f;
}
footer a.gitter-link,
footer a.gitter-link:hover {
  text-decoration: none;
  background: url("https://badges.gitter.im/nodebots/london.svg");
  display: block;
  width: 215px;
  padding-top: 18px;
  height: 0;
  overflow: hidden;
  margin: auto;
  margin-top: 4px;
}
.nodebot {
  margin: 0;
  z-index: 2;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 500px;
  height: 500px;
  background-color: #f8e01e;
  position: relative;
}
.nodebot .icon {
  position: absolute;
  bottom: 8%;
  right: 8%;
  width: 45.6%;
  height: 50%;
}
.nodebot .icon * {
  background: #2e2e2c;
}
.nodebot .icon .bobble {
  width: 12.5%;
  height: 12%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 5% auto -3.8%;
}
.nodebot .antenna {
  width: 6%;
  margin: 0 auto 4%;
  height: 16.5%;
  border-bottom-left-radius: 80% 30%;
  border-bottom-right-radius: 80% 30%;
}
.nodebot .head {
  width: 100%;
  height: 48.5%;
  border-top-left-radius: 15% 25%;
  border-top-right-radius: 15% 25%;
  position: relative;
}
.nodebot .head .eye {
  width: 18%;
  height: 33.5%;
  margin: 0 18.2%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #f8e01e;
  display: inline-block;
  position: absolute;
  top: 26%;
  left: 0px;
  -webkit-animation: blink 5s 2s infinite;
  -webkit-animation: blink 5s 2s infinite;
  -moz-animation: blink 5s 2s infinite;
  -o-animation: blink 5s 2s infinite;
  -ms-animation: blink 5s 2s infinite;
  animation: blink 5s 2s infinite;
}
.nodebot .eye.right {
  left: auto;
  right: 0;
}
.nodebot .head .eye.blink {
  height: 6%;
  top: 36%;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #000;
}
.nodebot .neck {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 69%;
  height: 6%;
  margin: 3.6% auto 0;
}
.nodebot .neck:last-child {
  width: 48%;
}
@-webkit-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-moz-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-webkit-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-o-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }
  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
header {
  width: 100%;
  height: 93vh;
  background: -webkit-radial-gradient(#222, #323232);
  background: -moz-radial-gradient(#222, #323232);
  background: -o-radial-gradient(#222, #323232);
  background: -ms-radial-gradient(#222, #323232);
  background: radial-gradient(#222, #323232);
  padding-top: 7vh;
}
header h1 {
  background: transparent url("../images/nodebots-of-london.min.svg") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 0px;
  width: 490px;
  padding-top: 340px;
  overflow: hidden;
  margin: 0 auto 5vh auto;
}
header small {
  margin: 5vh auto;
  display: block;
  text-align: center;
  font-size: 1.4em;
}
header small a,
header small a:hover a:visited a:link a:active {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.4;
}
header small a:hover {
  color: #f7df1f;
}
header small a {
  margin: 10px;
}
header small a span {
  display: inline-block;
  height: 20px;
  width: 20px;
}
header small a span#twitter {
  background: transparent url("../images/twitter.min.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header small a span#gitter {
  background: transparent url("../images/gitter.min.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header small a span#meetup {
  background: transparent url("../images/meetup.min.svg") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
header section#next-meetup {
  width: 490px;
  background: #fff;
  margin: auto;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-height: auto;
}
section div {
  max-width: 800px;
  background-color: rgba(255,255,255,0.9);
  margin: auto;
  padding: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
section {
  padding: 30vh 0 5vh 0;
  background: #666 url("../images/robot.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 20px 0;
  min-height: 50vh;
}
section#intro {
  background-image: url("../images/robot.jpg");
}
section#equipment {
  background-image: url("../images/lasers.jpg");
}
section#prerequisites {
  background-image: url("../images/library.jpg");
}
section#sponsors {
  background-image: url("../images/bluetooth.jpg");
}
@media screen and (max-width: 480px) {
  header {
    height: auto;
  }
  header h1 {
    width: 90%;
  }
  header section#next-meetup {
    width: auto;
  }
}
