@import 'main'
@import 'nodebot'

header {
  width:100%
  height: 93vh
  background: radial-gradient(#222, #323232);
  padding-top: 7vh

  h1 {
    background: transparent url("../images/nodebots-of-london.min.svg") no-repeat center center
    background-size: contain
    height: 0px
    width: 490px
    padding-top: 340px
    overflow: hidden
    margin: 0 auto 5vh auto
  }

  small {
    margin: 5vh auto
    display: block
    text-align: center
    font-size: 1.4em

    a, a:hover a:visited a:link a:active {
      color: #FFF
      text-decoration: none
      white-space: nowrap
      line-height: 1.4
    }

    a:hover {
      color: #F7DF1F
    }

    a {
      margin: 10px

      span {
        display: inline-block
        height: 20px
        width: 20px
      }

      span#twitter {
        background: transparent url("../images/twitter.min.svg") no-repeat center center
        background-size: cover
      }

      span#gitter {
        background: transparent url("../images/gitter.min.svg") no-repeat center center
        background-size: cover
      }

      span#meetup {
        background: transparent url("../images/meetup.min.svg") no-repeat center center
        background-size: contain
      }
    }
  }

  section#next-meetup {
    width: 490px
    background: #FFF
    margin: auto
    padding: 20px
    text-align: center
    border-radius: 3px
    min-height: auto
  }
}

section div {
  max-width: 800px
  background-color: rgba(255, 255, 255, 0.9)
  margin: auto
  padding: 20px
  border-radius: 3px
}

section {
  padding: 30vh 0 5vh 0
  background: #666 url("../images/robot.jpg") no-repeat center center
  background-size: cover
  margin: 20px 0
  min-height: 50vh
}

section#intro {
  background-image: url("../images/robot.jpg")
}

section#equipment {
  background-image: url("../images/lasers.jpg")
}

section#prerequisites {
  background-image: url("../images/library.jpg")
}

section#sponsors {
  background-image: url("../images/bluetooth.jpg")
}

@media screen and (max-width: 480px) {
  header {
    height: auto

    h1 {
      width: 90%
    }

    section#next-meetup {
      width: auto
    }
  }
}
