.nodebot {
  margin: 0;
  z-index: 2;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 500px;
  height: 500px;
  background-color: #f8e01e;
  position: relative;
}
.nodebot .icon {
  position: absolute;
  bottom: 8%;
  right: 8%;
  width: 45.6%;
  height: 50%;
}
.nodebot .icon * {
  background: #2e2e2c;
}
.nodebot .icon .bobble {
  width: 12.5%;
  height: 12%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 5% auto -3.8%;
}
.nodebot .antenna {
  width: 6%;
  margin: 0 auto 4%;
  height: 16.5%;
  border-bottom-left-radius: 80% 30%;
  border-bottom-right-radius: 80% 30%;
}
.nodebot .head {
  width: 100%;
  height: 48.5%;
  border-top-left-radius: 15% 25%;
  border-top-right-radius: 15% 25%;
  position: relative;
}
.nodebot .head .eye {
  width: 18%;
  height: 33.5%;
  margin: 0 18.2%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #f8e01e;
  display: inline-block;
  position: absolute;
  top: 26%;
  left: 0px;
  -webkit-animation: blink 5s 2s infinite;
  -webkit-animation: blink 5s 2s infinite;
  -moz-animation: blink 5s 2s infinite;
  -o-animation: blink 5s 2s infinite;
  -ms-animation: blink 5s 2s infinite;
  animation: blink 5s 2s infinite;
}
.nodebot .eye.right {
  left: auto;
  right: 0;
}
.nodebot .head .eye.blink {
  height: 6%;
  top: 36%;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #000;
}
.nodebot .neck {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 69%;
  height: 6%;
  margin: 3.6% auto 0;
}
.nodebot .neck:last-child {
  width: 48%;
}
@-webkit-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }

  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-moz-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }

  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-webkit-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }

  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-o-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }

  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@-ms-keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }

  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
@keyframes blink {
  0%, 4%, 8%, 100% {
    height: 33.5%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #f8e01e;
    top: 26%;
  }

  2%, 6% {
    height: 6%;
    top: 36%;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
}
div#intro {
  text-align: center;
  padding: 10px;
  color: #999;
  background: -webkit-linear-gradient(top, #000, #333);
  background: -moz-linear-gradient(top, #000, #333);
  background: -o-linear-gradient(top, #000, #333);
  background: -ms-linear-gradient(top, #000, #333);
  background: linear-gradient(to bottom, #000, #333);
  text-shadow: 0px 2px #000;
}
header {
  background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
  background: -moz-linear-gradient(top, #007407, #004a77, #781666);
  background: -o-linear-gradient(top, #007407, #004a77, #781666);
  background: -ms-linear-gradient(top, #007407, #004a77, #781666);
  background: linear-gradient(to bottom, #007407, #004a77, #781666);
  padding: 50px 0 40px 0;
  border-bottom: 10px solid #fff;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-size: 100px;
  color: #fff;
  -webkit-animation: glow 5s infinite;
  font-family: 'Press Start 2P', cursive;
  line-height: 1;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin-left: 30px;
  text-shadow: #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px;
}
h1 small {
  font-size: 90px;
  display: block;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 80px;
  }
  h1 small {
    font-size: 70px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
  h1 small {
    font-size: 40px;
  }
}
.pullout {
  background-color: #333;
  color: #fff;
  padding: 10px;
  max-width: 43em;
  margin: 1em auto;
}
.pullout strong {
  color: #f6de1f;
  font-weight: normal;
}
.pullout .nodebot {
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;
}
@media screen and (min-width: 685px) {
  .pullout {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}
a {
  color: #b41e1e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong,
h2 {
  color: #b41e1e;
  font-weight: bold;
}
h2,
p {
  padding: 0 10px;
}
h2 {
  max-width: 40em;
  margin: auto;
}
p,
ul {
  max-width: 40em;
  margin: 1em auto;
  line-height: 1.6em;
}
img {
  max-width: 40em;
  margin: 1em auto;
  display: block;
}
footer {
  padding: 10px;
  text-align: center;
  line-height: 1.6em;
  background: #333;
  color: #999;
  text-shadow: 0px 2px #000;
}
footer a {
  text-decoration: none;
  color: #ccc;
}
footer a:hover {
  text-decoration: underline;
  color: #fff;
}
footer a.host-link:hover {
  color: #78b8b9;
}
footer a.tableflip-link:hover {
  color: #13cea7;
}
footer a.gitter-link,
footer a.gitter-link:hover {
  text-decoration: none;
  background: url("https://badges.gitter.im/nodebots/london.svg");
  display: block;
  width: 215px;
  padding-top: 18px;
  height: 0;
  overflow: hidden;
  margin: auto;
  margin-top: 4px;
}
@-moz-keyframes glow {
  0% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }

  20% {
    text-shadow: #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px;
  }

  40% {
    text-shadow: #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px;
  }

  60% {
    text-shadow: #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px;
  }

  80% {
    text-shadow: #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px;
  }

  100% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }
}
@-webkit-keyframes glow {
  0% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }

  20% {
    text-shadow: #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px;
  }

  40% {
    text-shadow: #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px;
  }

  60% {
    text-shadow: #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px;
  }

  80% {
    text-shadow: #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px;
  }

  100% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }
}
@-o-keyframes glow {
  0% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }

  20% {
    text-shadow: #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px;
  }

  40% {
    text-shadow: #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px;
  }

  60% {
    text-shadow: #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px;
  }

  80% {
    text-shadow: #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px;
  }

  100% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }
}
@-ms-keyframes glow {
  0% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }

  20% {
    text-shadow: #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px;
  }

  40% {
    text-shadow: #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px;
  }

  60% {
    text-shadow: #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px;
  }

  80% {
    text-shadow: #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px;
  }

  100% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }
}
@keyframes glow {
  0% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }

  20% {
    text-shadow: #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px, #ff0 0px 0px 20px;
  }

  40% {
    text-shadow: #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px, #7fff00 0px 0px 20px;
  }

  60% {
    text-shadow: #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px, #0ff 0px 0px 20px;
  }

  80% {
    text-shadow: #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px, #f0f 0px 0px 20px;
  }

  100% {
    text-shadow: #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px, #00ff7f 0px 0px 20px;
  }
}
@-moz-keyframes swirlybackground {
  0% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }

  50% {
    background: -webkit-linear-gradient(top, #781666, #004a77, #007407);
    background: -moz-linear-gradient(top, #781666, #004a77, #007407);
    background: -o-linear-gradient(top, #781666, #004a77, #007407);
    background: -ms-linear-gradient(top, #781666, #004a77, #007407);
    background: linear-gradient(to bottom, #781666, #004a77, #007407);
  }

  100% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }
}
@-webkit-keyframes swirlybackground {
  0% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }

  50% {
    background: -webkit-linear-gradient(top, #781666, #004a77, #007407);
    background: -moz-linear-gradient(top, #781666, #004a77, #007407);
    background: -o-linear-gradient(top, #781666, #004a77, #007407);
    background: -ms-linear-gradient(top, #781666, #004a77, #007407);
    background: linear-gradient(to bottom, #781666, #004a77, #007407);
  }

  100% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }
}
@-o-keyframes swirlybackground {
  0% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }

  50% {
    background: -webkit-linear-gradient(top, #781666, #004a77, #007407);
    background: -moz-linear-gradient(top, #781666, #004a77, #007407);
    background: -o-linear-gradient(top, #781666, #004a77, #007407);
    background: -ms-linear-gradient(top, #781666, #004a77, #007407);
    background: linear-gradient(to bottom, #781666, #004a77, #007407);
  }

  100% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }
}
@-ms-keyframes swirlybackground {
  0% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }

  50% {
    background: -webkit-linear-gradient(top, #781666, #004a77, #007407);
    background: -moz-linear-gradient(top, #781666, #004a77, #007407);
    background: -o-linear-gradient(top, #781666, #004a77, #007407);
    background: -ms-linear-gradient(top, #781666, #004a77, #007407);
    background: linear-gradient(to bottom, #781666, #004a77, #007407);
  }

  100% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }
}
@keyframes swirlybackground {
  0% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }

  50% {
    background: -webkit-linear-gradient(top, #781666, #004a77, #007407);
    background: -moz-linear-gradient(top, #781666, #004a77, #007407);
    background: -o-linear-gradient(top, #781666, #004a77, #007407);
    background: -ms-linear-gradient(top, #781666, #004a77, #007407);
    background: linear-gradient(to bottom, #781666, #004a77, #007407);
  }

  100% {
    background: -webkit-linear-gradient(top, #007407, #004a77, #781666);
    background: -moz-linear-gradient(top, #007407, #004a77, #781666);
    background: -o-linear-gradient(top, #007407, #004a77, #781666);
    background: -ms-linear-gradient(top, #007407, #004a77, #781666);
    background: linear-gradient(to bottom, #007407, #004a77, #781666);
  }
}
header {
  background: url("../images/sumo-header.gif") center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
